<h2>Create New Post</h2>

<form id="create-post-form">
    <div>
        <label for="post-title">Title</label>
        <input type="text" id="post-title">
    </div>
    <div>
        <label for="post-content">Content</label>
        <input type="text" id="post-content">
    </div>
    <button type="submit">Create Post</button>
</form>

<script src="/javascript/create-post.js"></script>