<button>+ New Post</button>

<ul>
    {{#each posts}}
    <li>
        <h2>{{title}}</h2>
        <h3>Created {{createdAt}} by {{user.username}}</h3>
        <p>{{post_text}}</p>
    </li>
    {{/each}}
</ul>