<h2>Edit Post</h2>

<form id="edit-post-form">
    <div>
        <label for="post-title">Title</label>
        <input type="text" id="post-title" value="{{post.title}}">
    </div>
    <div>
        <label for="post-content">Content</label>
        <input type="text" id="post-content" value="{{post.post_text}}">
    </div>
    <button type="submit">Update Post</button>
    <button>Delete</button>
</form>

<script src="/javascript/edit-post.js"></script>

