<h1>
    The Tech Blog
</h1>

<form id="login-form">
    <h2>Login</h2>
    <div class="form">
        <div class="input-field">
            <label for="username-login">Username</label>
            <input type="text" id="username-login" name="username-login">
        </div>
        <div class="input-field">
            <label for="password-login">Password</label>
            <input type="password" id="password-login" name="password-login">
        </div>
        <button type="submit">Login!</button>
        <h3>Don't have an account? <a href="/signup">Sign Up</a></h3>
    </div>
</form>
<script src="/javascript/login.js"></script>