<div>
    <h1>Login</h1>

    <form>
        <div>
            <label for="username-login">Username</label>
            <input type="text" id="username-login" name="username-login">
        </div>
        <div>
            <label for="password-login">Password</label>
            <input type="text" id="password-login" name="password-login">
        </div>
        <button type="submit">Login!</button>
    </form>

    <h2>Don't have an account? <a>Sign Up</a></h2>

</div>
