<form id="signup-form">
    <h2>Signup</h2>
    <div class="form">
        <div class="input-field">
            <label for="username-signup">Username</label>
            <input type="text" id="username-signup" name="username-signup">
        </div>
        <div class="input-field">
            <label for="password-signup">Password</label>
            <input type="password" id="password-signup" name="password-signup">
        </div>
        <button type="submit">Sign Up!</button>
        <h3>Have an account already? <a href="/login">Login</a></h3>
    </div>

</form>

<script src="/javascript/signup.js"></script>